$color-pacific-blue: #099cbd;
$color-gray: #7f7f7f;
$color-polar: #daf3f8;
$color-black-pearl: #08202c;
$color-mine-shaft: #454545;
$white: #fff;
$black: #000;

/* fonts */
$font-0: 'AvenirNext LT Pro';
$font-1: Helvetica;
$font-2: sans-serif;